/*
 * Empty Stylesheet file.
 */ 
.btn{
    -fx-background-color:#1976D2;
}

.btn:hover{
    -fx-background-color:#388E3C;
}
.textfield{
    -fx-background-color:transparent;
    -fx-text-inner-color:black;
    -fx-border-color:gray;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:13px;
}
.background{
    -fx-background-color:#ffffff
}
